{% extends "sleep/base.md.j2" %}

{% block summary %}
{% include "sleep/sections/summary.md.j2" %}
{% endblock %}

{% block time_in_bed %}
{% include "sleep/sections/time_in_bed.md.j2" %}
{% endblock %}

{% block sleep_stages %}
{% include "sleep/sections/sleep_stages.md.j2" %}
{% endblock %}

{% block sleep_timing %}
{% include "sleep/sections/sleep_timing.md.j2" %}
{% endblock %}

{% block sleep_cycles %}
{% include "sleep/sections/sleep_cycles.md.j2" %}
{% endblock %}

{% block sleep_debt %}
{% include "sleep/sections/sleep_debt.md.j2" %}
{% endblock %}
