{% extends "body/base.md.j2" %}

{% block summary %}
{% include "body/sections/summary.md.j2" %}
{% endblock %}

{% block body_composition %}
{% include "body/sections/body_composition.md.j2" %}
{% endblock %}

{% block training %}
{% include "body/sections/training.md.j2" %}
{% endblock %}

{% block nutrition %}
{% include "body/sections/nutrition.md.j2" %}
{% endblock %}

{% block calorie_analysis %}
{% include "body/sections/calorie_analysis.md.j2" %}
{% endblock %}

{% block recovery %}
{% include "body/sections/recovery.md.j2" %}
{% endblock %}

{% block detail %}
{% include "body/sections/detail.md.j2" %}
{% endblock %}
