{% extends "mind/base.md.j2" %}

{% block summary %}
{% include "mind/sections/summary.md.j2" %}
{% endblock %}

{% block autonomic %}
{% include "mind/sections/autonomic.md.j2" %}
{% endblock %}

{% block sleep %}
{% include "mind/sections/sleep.md.j2" %}
{% endblock %}

{% block physiology %}
{% include "mind/sections/physiology.md.j2" %}
{% endblock %}

{% block daily_data %}
{% include "mind/sections/daily_data.md.j2" %}
{% endblock %}

{% block charts %}
{% include "mind/sections/charts.md.j2" %}
{% endblock %}
