{% extends "mind/base.md.j2" %}

{% block responsiveness %}
{% include "mind/sections/responsiveness.md.j2" %}
{% endblock %}

{% block exertion_balance %}
{% include "mind/sections/exertion_balance.md.j2" %}
{% endblock %}

{% block sleep_patterns %}
{% include "mind/sections/sleep_patterns.md.j2" %}
{% endblock %}

{% block charts %}
{% include "mind/sections/charts.md.j2" %}
{% endblock %}
